{% macro item(img, title, desc, addClass) %}
  <div class="blog-card{%- if addClass %} {{ addClass }}{%- endif %}">
    <figure>
      <img src="{{ img }}" alt="{{ title }}">
    </figure>
    <div class="blog-card__content">
      <h4>{{ title }}</h4>
      <p>{{ desc }}</p>
    </div>
  </div>
{% endmacro %}