{% macro item(img, title, desc, href, class) %}
  <a href="{{ href }}" class="blog-card{%- if class %} {{ class }}{%- endif %}">
    <figure>
      <img src="{{ img }}" alt="{{ title }}">
    </figure>
    <div class="blog-card__content">
      <h4>{{ title }}</h4>
      <p>{{ desc }}</p>
    </div>
  </a>
{% endmacro %}