{% import "includes/components/Button/button.njk" as Button %}

{% macro item(img, title, desc, class, listCard, listItem, btnText, btnLink) %}
  <div class='common-card{%- if class %} {{ class }}{%- endif %}'>
    <figure>
      <img src="{{ img }}" alt="{{ title }}">
    </figure>
    <div>
      <h3>{{ title }}</h3>
      {% if listCard %}
        <ul>
          {% for item in listItem %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {{Button.item(
          text=btnText,
          href=btnLink,
          class='button--sm common-card__action'
        )}}
      {% else %}
        <p>{{ desc }}</p>
      {% endif %}
    </div>
  </div>
{% endmacro %}