{% import "includes/components/Button/button.njk" as Button %}

{% macro item(title, desc, class, btnUrl, btnText) %}
  <div class="feature-info-card {% if class -%}{{ class }}{%- endif %}">
    <h3>{{ title }}</h3>
    <p>{{ desc }}</p>
    <div>
      {{Button.item(
        href=btnUrl,
        text=btnText,
        class='button--download button--download__underline'
      )}}
    </div>
  </div>
{% endmacro %}