{% import "includes/components/Button/button.njk" as Button %}

{% macro item(title, desc, btnUrl, btnText) %}
  <div class="feature-info-card">
    <h3>{{ title }}</h3>
    <p>{{ desc }}</p>
    <div>
      {{Button.item(
        href=btnUrl,
        text=btnText,
        class='button--sm'
      )}}
      {# {% for item in btnItems %}
        {{Button.item(
        href=item.url,
        text=item.text
      )}}
      {% endfor %} #}
    </div>
  </div>
{% endmacro %}