{% macro item(img, title, href, desc, class) %}
  <a href="{{ href }}" class="features-card{%- if class %} {{ class }}{%- endif %}">
    <figure>
      <img src="{{ img }}" alt="{{ title }}">
    </figure>
    <div>
      <h4>{{ title }}</h4>
      <p>{{ desc }}</p>
    </div>
  </a>
{% endmacro %}