{% macro item(title, desc, img, addClass) %}
  <div class="testimonial-card{%- if addClass %} {{ addClass }}{%- endif %}">
    <h3>{{ title }}</h3>
    <div class='testimonial-card__content'>
      <figure>
        <img src="{{ img }}" alt="{{ title }}">
      </figure>
      <p>
        {{ desc }}
        <span></span>
        <span></span>
      </p>
    </div>
  </div>
{% endmacro %}