{% macro item(href, img, icon, class) %}
  <div class="video-card{%- if class %} {{ class }}{%- endif %}">
    <a href="{{ href }}">
      <figure class="video-card__img">
        <img src="{{ img }}">
      </figure>
      <figure class="video-card__icon">
        <img src="{{ icon }}">
      </figure>
    </a>
  </div>
{% endmacro %}