{% macro item(href, img) %}
  <div class="video-card">
    <a href="{{ href }}">
      <figure>
        <img src="{{ img }}">
      </figure>
      <div class="oval"></div>
    </a>
  </div>
{% endmacro %}