{% macro item(accordionData) %}
  <div class="accordion">
    {% for item in accordionData %}
      <div class="accordion__item">
        <div class="accordion__item-header">
          <span>{{ item.title }}</span>
          <figure>
            <img src="{{ item.icon }}">
          </figure>
        </div>
        <p class="accordion__item-body">
          {{ item.desc }}
        </p>
      </div>
    {% endfor %}
  </div>
{% endmacro %}