.button {
  min-width: 147px;
  height: 32px;
  font-size: 12px;
  // padding: 14px 0;
  background-color: $primary-blue;
  color: $text-white;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  letter-spacing: normal;
  box-sizing: border-box;

  &--link {
    padding: 12px 0;
  }

  &--xs {
    min-width: 106px;
    height: 32px;
    padding: 9px 0;
  }

  &--sm.button--link {
    padding: 12px 0;
  }

  &--sm {
    min-width: 147px;
    height: 42px;
    border-radius: 21px;
  }

  &--join {
    color: $text-white !important;
  }

  &--mid {
    min-width: 208px;
    height: 60px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    padding: 13px 0;
    border-radius: 30px;
  }

  &--lg {
    max-width: 304px;
    width: 100%;
    height: 48px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 30px;
  }

  &.active {
    color: $text-white;
    background-color: $primary-dark-blue-light-1;
    border: 2px solid $primary-blue;
  }

  &--download {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: $primary-blue;
    padding: 0px;
    background: none;
    min-width: auto;
    height: auto;

    &__underline {
      border-bottom: 1px solid #03a9f4;
      border-radius: 0;
      line-height: 0.8;
    }
  }

  &--v2 {
    color: $primary-blue;
    background: transparent;
    border: 1px solid $primary-blue;
  }
}
