{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Slider/slider-banner.njk" as SliderBanner %}
{% import "includes/components/Card/features-card.njk" as FeaturesCard %}
{% import "includes/components/Card/check-packages-card.njk" as PackCard %}

{% set bannerItems = [
  {
    heading: 'Özellikler',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Morem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Dorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }
] %}

{% set featureCardItems = [
  {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }
] %}

{% set packCardItems = {
  title: 'Daha fazla özellikler ile iyi bir toplantı deneyiminin zamanı geldi.',
  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
  btns: [
    {
      text: 'Paketleri İncele',
      link: '/',
      class: 'button--sm button--v2'
    }, {
      text: 'Giriş Yap',
      link: '/',
      class: 'button--sm'
    }
  ]
} %}

{% block content %}
  <section class="section section-banner--split section-banner">
    <div class="container container__wide">
      {{SliderBanner.item(
          data= bannerItems
        )}}
    </div>
  </section>

  <section class="section section-features-cards">
    <div class="container">
      <div class="box">
        {% for item in featureCardItems %}
          {{FeaturesCard.item(
            img= item.img,
            title= item.title,
            desc= item.desc
          )}}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}