{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Button/button.njk" as Button %}
{% import "includes/components/Accordion/accordion.njk" as Accordion %}
{% import "includes/components/Slider/slider-banner.njk" as SliderBanner %}
{% import "includes/components/Slider/slider-features-detail.njk" as SliderFeaturesDetail %}
{% import "includes/components/Card/common-card.njk" as CommonCard %}

{% set bannerItems = [
  {
    heading: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Morem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Dorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }
] %}

{% set detailCardItems = [
  {
    img: 'https://source.unsplash.com/random/552x236',
    title: 'Öğrencilerle Kesintisiz İletişim',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.'
  }, {
    img: 'https://source.unsplash.com/random/552x236',
    title: 'Herkese, her yerde öğretim',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.'
  }, {
    img: 'https://source.unsplash.com/random/552x236',
    title: 'Kolay İşbirliği',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.'
  }
] %}

{% set detailAccordionItems = [
  {
    title:'Lorem ipsum dolor sit amet,',
    icon:'../assets/images/icons8-expand-arrow-60.png',
    desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  },
    {
    title:'Lorem ipsum dolor sit amet,',
    icon:'../assets/images/icons8-expand-arrow-60.png',
    desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  },
    {
    title:'Lorem ipsum dolor sit amet,',
    icon:'../assets/images/icons8-expand-arrow-60.png',
    desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }
] %}

{% set featuresDeatailCardItems = [
  {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'features-card--small'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'features-card--small'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'features-card--small'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'features-card--small'
  }
] %}

{% block content %}
  <section class="section section-banner--split section-banner">
    <div class="container container__wide">
      {{SliderBanner.item(
          data= bannerItems
        )}}
    </div>
  </section>

  <section class="section features-detail-cards">
    <div class="container">
      <div class="box">
        {% for item in detailCardItems %}
          {{CommonCard.item(
          img = item.img,
          title = item.title,
          desc = item.desc,
          class = 'common-card--small'
        )}}
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section section-sss">
    <h2 class="section__title text-center">Sıkça Sorulan Sorular</h2>
    <div class="container">
      {{Accordion.item(accordionData= detailAccordionItems )}}

      <div class="section-sss__action text-center">
        {{Button.item(
          text= 'Tümünü Gör',
          href= '/',
          class='button--sm'
        )}}
      </div>
    </div>
  </section>

  <section class="section">
    {{SliderFeaturesDetail.item(detailCardData= featuresDeatailCardItems)}}
  </section>
{% endblock %}