{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Slider/slider-banner.njk" as SliderBanner %}

{% set bannerItems = [
  {
    heading: 'Özellikler',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Morem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Dorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }
] %}

{% set featureCardItems = [
  {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }, {
    img: 'https://source.unsplash.com/random/360x236',
    title: 'Online Konferans',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
  }
] %}

{% block content %}
  <section class="section section-banner--split section-banner">
    <div class="container container__wide">
      {{SliderBanner.item(
          data= bannerItems
        )}}
    </div>
  </section>
{% endblock %}