.features-detail-cards {
  background-color: $bg;

  padding: 46px 0;

  .container {
    @include phone {
      padding: 0;
    }
  }

  .box {
    .common-card:not(:last-child) {
      margin-bottom: 46px;
    }
  }
}

.section-sss {
  background-color: $bg;

  &__action {
    padding: 23px 0;
  }
}
