.tab-sector {
  &__header {
    margin-bottom: 46px;

    &--sticky {
      // padding: 18px 0;
      // position: sticky;
      background-color: $primary-dark-blue-light-9;
      box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.25);
      z-index: 2;
      position: fixed;
      top: 148px;
      left: 0;
      right: 0;
      padding: 18px 16px;

      @include desktop {
        top: 100px;
      }

      @include phone {
        padding: 16px 0;
      }
    }

    .swiper-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        max-width: 208px !important;

        @include phone {
          max-width: 138.5px !important;
        }
      }
    }
  }

  &__content {
    display: none;

    article {
      margin-top: 68px;
      padding-bottom: 62px;
      padding-top: 46px;

      h3 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        color: $primary-dark-blue;
        margin-bottom: 20px;

        @include phone {
          font-size: 32px;
        }
      }

      > p {
        max-width: 830px;
        line-height: 1.5;
        font-weight: 500;
        color: $text-black;
        margin-bottom: 40px;

        @include phone {
          font-size: 14px;
        }
      }

      > div {
        position: relative;
      }
    }
  }

  &__content.active {
    display: block;
  }
}
