.accordiontab {
  position: relative;

  &__item {
    display: flex;
    @include desktop {
      flex-direction: column;
    }
    @include phone {
      align-items: flex-end;
    }

    &__btn {
      width: 100%;
      text-align: left;
      // height: 33px;
      position: relative;
      font-size: 24px;
      border: none;
      margin-right: 156px;
      line-height: 1.38;
      display: block;
      background: none;
      transition: all 200ms ease-in-out;
      cursor: pointer;

      @include desktop {
        margin-right: 0;
      }

      &:first-of-type {
        margin-top: 32px;
      }

      &:hover {
        font-weight: 700;
      }

      // &.active {
      //   line-height: 1.5;
      //   font-weight: 700;
      //   height: 36px;
      //   color: $primary-blue;

      //   @include desktop {
      //     margin-bottom: 26px;
      //   }

      //   @include tablet {
      //     &:first-child {
      //       margin-top: 0;
      //     }
      //   }
      // }
    }

    &.active .accordiontab__item__btn {
      line-height: 1.5;
      font-weight: 700;
      height: 36px;
      color: $primary-blue;

      @include desktop {
        margin-bottom: 26px;
      }

      @include tablet {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    &.active .accordiontab__item__content {
      display: block;
      margin-bottom: 58px;
      height: auto;
    }

    &__content {
      display: none;
      position: absolute;
      z-index: 3;
      right: 20%;
      top: 0;
      height: 0;
      // overflow: hidden;
      transition: all 0.2s ease-out;

      @include desktop {
        position: relative;
        right: 0;
        margin-left: 30px;
      }

      figure {
        max-width: 552px;

        @include phone {
          min-width: 313px;
        }

        img {
          width: 100%;
          border-radius: 12px;
        }
      }

      > div {
        position: absolute;
        left: 259px;
        bottom: -69px;

        @include laptop {
          bottom: -50px;
          left: 46px;
        }

        @include phone {
          width: 90%;
          bottom: -62px;
          right: 0;
        }
      }
    }

    // &__content.active {
    //   display: block;
    //   margin-bottom: 58px;
    // }
  }
}
