.section-banner {
  min-height: 680px;
  background: linear-gradient(to bottom, $primary-dark-blue-level-0, #435b72);
  position: relative;
  padding-top: 171px;
  top: -148px;
  margin-bottom: -148px;

  .swiper {
    position: inherit;
  }
}

.section-offer {
  background-color: $bg;
  padding-top: 78px;
  padding-bottom: 30px;

  .container {
    .box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      column-gap: 26px;

      @include laptop {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }
  }
}

.section-features {
  padding-top: 46px;
  padding-bottom: 146px;
  background: linear-gradient(
    to bottom,
    #f4f4f4 67%,
    $primary-dark-blue-light-9
  );

  h2 {
    @include phone {
      margin-bottom: 24px;
    }
  }
}

.section-sectors {
  padding: 76px 0;
  background: linear-gradient(
    to bottom,
    #f4f4f4 67%,
    $primary-dark-blue-light-9
  );

  h2 {
    @include phone {
      margin-bottom: 24px;
    }
  }
}

.section-testimonial {
  background-color: #f4f4f4;
  .container {
    position: relative;

    .swiper-wrapper {
      padding-top: 76px;
      padding-bottom: 38px;
    }

    .swiper-pagination {
      bottom: 70px !important;
    }

    .swiper-pagination-bullet {
      border: 1px solid $primary-blue;
    }
  }
}

.section-video {
  background-color: $bg;

  .swiper {
    padding: 38px 0;

    .swiper-pagination {
      bottom: 0 !important;
    }

    .swiper-pagination-bullet {
      border: 1px solid $primary-blue;
    }
  }
}

.section-blog {
  padding-top: 38px;
  padding-bottom: 38px;
  background-color: $bg;
  .container {
    .box {
      margin-bottom: 46px;

      .swiper-wrapper {
        box-sizing: border-box;
        justify-content: space-between;
      }
    }
  }

  &__action {
    text-align: center;
  }
}

.section-suit {
  padding: 38px 0;
  background: linear-gradient(to bottom, $bg, $primary-dark-blue-light-9);
  margin-bottom: 40px;
}
