.blog-card {
  width: 360px !important;
  padding: 14px 14px 33px;
  border-radius: 8px;
  background: linear-gradient(to bottom, $bg, $primary-dark-blue-light-9);
  @include phone {
    width: 286px !important;
    padding: 11.1px 11.1px 12.1px;
    border-radius: 6.4px;
  }

  &:hover {
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.09);
  }

  figure {
    max-width: 332px;
    height: 288px;
    margin-bottom: 32px;
    background-color: $primary-dark-blue-light-3;
    border-radius: 8px;
    overflow: hidden;

    @include phone {
      max-width: 263.8px;
      height: 229px;
      margin-bottom: 16.8px;
      border-radius: 6.4px;
    }

    img {
      // border-radius: 8px;
      width: 100%;
      display: block;
    }
  }

  &__content {
    h4 {
      max-width: 295px;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 600;
      color: $primary-dark-blue-level-0;
      margin-bottom: 24px;

      @include phone {
        line-height: 1.26;
        margin-bottom: 10.2px;
      }
    }

    p {
      color: $text-black;
      line-height: 1.5;

      @include phone {
        line-height: 1.19;
      }
    }
  }
}
