.check-packages-card {
  max-width: 936px;
  border-radius: 12px;
  border: 1px solid $primary-blue;
  background-color: $text-white;
  padding: 44px 68px;

  @include phone {
    padding: 42px 20px;
    text-align: center;
    min-width: 340px;
  }

  &--large {
    max-width: 100%;
    padding: 0;
    position: relative;
    border: none;
    border-radius: 0;

    figure {
      width: 100%;
      img {
        min-height: 352px;
        display: block;
        width: 100%;
      }
    }

    > div {
      padding: 0 28px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $text-white;

      h3 {
        color: $text-white;
        font-size: 34px;
        line-height: 1.41;
        margin-bottom: 12px;
        text-align: center;

        @include laptop {
          line-height: 1.06;
          margin-bottom: 9px;
          font-size: 24px;
        }
      }

      p {
        max-width: 588px;
        margin-bottom: 21px;
      }
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 2;
    color: $primary-dark-blue-level-0;
    margin-bottom: 14px;

    @include phone {
      line-height: 1.25;
    }
  }

  p {
    line-height: 1.5;
    margin-bottom: 36px;
  }

  &__action {
    text-align: center;

    > a:first-child {
      margin-right: 16px;
    }
  }
}
