.common-card {
  display: flex;
  align-items: center;

  @include tablet {
    flex-direction: column;
  }

  @include phone {
    align-items: flex-start;
  }

  figure {
    max-width: 552px;
    margin-right: 27.5px;

    img {
      border-radius: 12px;
      width: 100%;
      display: block;
    }

    @include tablet {
      margin-bottom: 24px;
      margin-right: 0;
    }
  }

  div {
    max-width: 462px;
    h3 {
      font-size: 32px;
      font-weight: 500;
      line-height: 1.19;
      color: $text-black;
      margin-bottom: 15px;

      @include tablet {
        font-size: 24px;
        line-height: 1.25;
      }
    }

    p {
      line-height: 1.5;
      font-size: 16px;

      @include tablet {
        line-height: 1.25;
      }
    }
  }
}
