.video-card {
  $self: &;
  a {
    background-image: radial-gradient(
      circle at 48% 55%,
      rgba(32, 46, 62, 0),
      $primary-dark-blue-level-0 96%
    );
    max-height: 402px;
    position: relative;

    #{$self}__img {
      width: 100%;
    }

    #{$self}__icon {
      height: 70px;
      width: 70px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
      }
    }
  }
}
