.page-videos.section-banner {
  .container {
    .banner-card {
      position: relative;
    }
  }
}

.page-videos.section-blog {
  .container {
    .box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }
  }
}
