{% import "includes/components/Card/banner-card.njk" as BannerCard with context %}
{% import "includes/components/Button/button.njk" as Button %}

{% macro item(data) %}
  <div class="swiper slider-banner">
    <div class="swiper-wrapper">
      {% for item in data %}
        {% call BannerCard.item(title = item.heading, desc = item.desc, img = item.img, class='swiper-slide') %}
        {{Button.item(
              text=item.btnTextOne,
              class='button--sm',
              href='/'
            )}}

        {% if item.btnTextTwo %}
          {{Button.item(
              text=item.btnTextTwo,
              class='button--sm',
              href=item.btnLink
            )}}
        {% endif %}
        {% endcall %}
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>

  </div>
{% endmacro %}