{% import "includes/components/Card/video-card.njk" as VideoCard %}

{% macro item(videosData) %}
  <div class="swiper videosSwiper">
    <div class="swiper-wrapper">
      {% for item in videosData %}
        {{VideoCard.item(
          href=item.href,
          img=item.img,
          icon=item.icon,
          class=item.class,
          href= item.link
        )}}
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% endmacro %}