.footer {
  padding-top: 82px;
  padding-bottom: 15px;
  background: linear-gradient(to bottom, #435b72, $primary-dark-blue-level-0);
  $self: &;

  #{$self}__top {
    display: flex;
    margin-bottom: 111px;

    @include large {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      margin-right: 107px;

      @include large {
        margin-right: 0;
        margin-bottom: 30px;
      }

      figure {
        max-width: 174px;
        margin-bottom: 15px;
      }

      p {
        color: $text-white;
      }
    }

    &__links {
      display: flex;

      ul {
        flex: 0 0 250px;

        li {
          margin-bottom: 20px;

          a {
            color: $text-white;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }
    }
  }

  #{$self}__bottom {
    display: flex;
    justify-content: space-between;
    color: $text-white;

    div {
      a {
        display: inline-block;
        color: $text-white;

        &:not(:last-child) {
          margin-right: 58px;
        }
      }
    }
  }
}
