{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Slider/slider-banner.njk" as SliderBanner %}

{% set bannerItems = [
  {
    heading: 'İşte Suit',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Hemen Başvur',
    img: 'https://source.unsplash.com/random/450x415'
  }, {
    heading: 'İşte Suit',
    desc: 'Morem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Hemen Başvur',
    img: 'https://source.unsplash.com/random/450x415'
  }, {
    heading: 'İşte Suit',
    desc: 'Dorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Hemen Başvur',
    img: 'https://source.unsplash.com/random/450x415'
  }
] %}

{% block content %}
  <section class="section section-banner">
    <div class="container">
      {{SliderBanner.item(
          data= bannerItems
        )}}
    </div>
  </section>
{% endblock %}