{% import "includes/components/Button/button.njk" as Button %}

{% set navItems = [
  {
    text:'Platform',
    icon:'../assets/images/icons-arrow.png',
    class:'js-dropdown-btn',
    children: [
    {
      title:'Online Konferans',
      url:'/'
    },
    {
      title:'Toplantı Kaydetme',
      url:'/'
    },
    {
      title:'Anlık Mesajlaşma',
      url:'/'
    },
     {
      title:'Anket',
      url:'/'
    },
    {
      title:'Moderasyon & Co-Host yetkileri',
      url:'/'
    },
    {
      title:'Ara Oda Oluşturma',
      url:'/'
    },
    {
      title:'Beyaz Tahta',
      url:'/'
    }
    ]
  },
  {
    text:'Kurumsal Çözümler',
    icon:'../assets/images/icons-arrow.png',
    class:'js-dropdown-btn',
    children: [
    {
      title:'İşte Suit',
      url:'/'
    },
    {
      title:'API VE SDK',
      url:'/'
    },
    {
      title:'Sektörler & Marka İşbirlikleri & Testimonials (Referanslar)',
      url:'/'
    },
     {
      title:'Toptan (Wholesale)',
      url:'/'
    }
    ]
  },
  {
    text:'Fiyatlandırma'
  },
  {
    text:'Kaynaklar',
    icon:'../assets/images/icons-arrow.png',
    class:'js-dropdown-btn',
    children: [
    {
      title:'Blog',
      url:'/'
    },
    {
      title:'Yardım',
      url:'/'
    },
    {
      title:'How 2 Videos',
      url:'/'
    }
    ]
  }
] %}

<div class="container">
  <a class='header__logo' href="/">
    <figure>
      <img src="../assets/images/header-elements-logo.png" alt="Bipmeet Logo">
    </figure>
  </a>

  <figure class="header__menu-toggle">
    <img src="../assets/images/icons-menu-open.png">
  </figure>

  <nav>
    <div class="menu">
      {% for item in navItems %}
        <div class="{% if item.class -%} {{ item.class }}{% else %} {% endif -%}">
          {% if item.icon %}
            {{ item.text }}
            <figure><img src="{{ item.icon }}"></figure>
          {% else %}
            <a href="/">{{ item.text }}</a>
          {% endif %}

          {% if item.children %}
            <ul class="dropdown">
              {% for item in item.children %}
                <li>
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="header__actions">
      {{Button.item(
        class='button--download',
        text='İNDİR'
      )}}

      {{Button.item(
        class='button--xs button--join',
        text='Toplantıya Katıl',
        href='/',
        buttonV2=true
      )}}

      {{Button.item(
        class='button--xs',
        text='Giriş Yap',
        href='/'
      )}}
    </div>
  </nav>
</div>