.page__suit.section-offer {
  padding-top: 48px;
  padding-bottom: 38px;

  .container {
    h2 {
      margin-bottom: 76px;
    }
  }
}

.page__suit.section-suit {
  padding-bottom: 48px;
  margin-bottom: 0;
}
