{% set footerItems = {
  logo: '../assets/images/header-elements-logo.png',
  desc: 'Bip Meet ile güvenli ve kesintisiz konferans deneyimi',
  rights: 'Tüm hakları saklıdır. 2022',
  linkListOne: [
    {
      title: 'Özellikler',
      url: '/'
    },
        {
      title: 'Download',
      url: '/'
    },
        {
      title: 'Fiyatlandırma',
      url: '/'
    },
        {
      title: 'İşte Suit',
      url: '/'
    }
  ],
  linkListTwo: [
    {
      title: 'Blog',
      url: '/'
    },
        {
      title: 'Hakkımızda',
      url: '/'
    },
        {
      title: 'FAQ',
      url: '/'
    },
        {
      title: 'Bize Ulaşın',
      url: '/'
    }
  ],
  linkListThree: [
    {
      title: 'English',
      url: '/'
    }
  ],
   linkListFour: [
    {
      title: 'Kullanım Koşulları',
      url: '/'
    },
        {
      title: 'Aydınlatma Metni',
      url: '/'
    },
        {
      title: 'Politikalar',
      url: '/'
    },
        {
      title: 'Lisans',
      url: '/'
    }
  ]
} %}

<div class="container">
  <div class="footer__top"></div>
  <div class="footer__bottom"></div>
</div>