{% set footerItems = {
  logo: '../assets/images/header-elements-logo.png',
  desc: 'Bip Meet ile güvenli ve kesintisiz konferans deneyimi',
  rights: 'Tüm hakları saklıdır.',
  linkListOne: [
    {
      title: 'Özellikler',
      url: '/'
    },
        {
      title: 'Download',
      url: '/'
    },
        {
      title: 'Fiyatlandırma',
      url: '/'
    },
        {
      title: 'İşte Suit',
      url: '/'
    }
  ],
  linkListTwo: [
    {
      title: 'Blog',
      url: '/'
    },
        {
      title: 'Hakkımızda',
      url: '/'
    },
        {
      title: 'FAQ',
      url: '/'
    },
        {
      title: 'Bize Ulaşın',
      url: '/'
    }
  ],
  linkListThree: [
    {
      title: 'English',
      url: '/'
    }
  ],
   linkListFour: [
    {
      title: 'Kullanım Koşulları',
      url: '/'
    },
        {
      title: 'Aydınlatma Metni',
      url: '/'
    },
        {
      title: 'Politikalar',
      url: '/'
    },
        {
      title: 'Lisans',
      url: '/'
    }
  ]
} %}

<div class="container">
  <div class="footer__top">
    <div class="footer__top__info">
      <a href="/">
        <figure>
          <img src="{{ footerItems.logo }}" alt="Bip Meet Logo">
        </figure>
      </a>
      <p>{{ footerItems.desc }}</p>
    </div>

    <div class="footer__top__links">
      <ul>
        {% for item in footerItems.linkListOne %}
          <li>
            <a href="{{ item.url }}">{{item.title}}</a>
          </li>
        {% endfor %}
      </ul>
      <ul>
        {% for item in footerItems.linkListTwo %}
          <li>
            <a href="{{ item.url }}">{{item.title}}</a>
          </li>
        {% endfor %}
      </ul>
      <ul>
        {% for item in footerItems.linkListThree %}
          <li>
            <a href="{{ item.url }}">{{item.title}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <div>
      {% for item in footerItems.linkListFour %}
        <a href="{{ item.url }}">{{item.title}}</a>
      {% endfor %}
    </div>
    <p>{{ footerItems.rights }}
      <span id='year'></span></p>
  </div>
</div>