{% import "includes/components/Card/features-info-card.njk" as FeturesInfoCard %}

{% macro item(data) %}
  <div class="accordiontab">
    {% for item in data %}
      <div class="accordiontab__item {% if item.class -%}{{ item.class }}{%- endif %}">
        <button class='accordiontab__item__btn'>{{ item.title }}</button>
        <div class="accordiontab__item__content">
          <figure>
            <img src="{{ item.img }}">
          </figure>
          {{FeturesInfoCard.item(
            title=item.infotText,
            desc=item.infoDesc,
            btnText=item.infoBtnText,
            btnUrl=item.infoBtnUrl
          )}}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}