{% import "includes/components/Button/button.njk" as Button %}
{% import "includes/components/Card/common-card.njk" as CommonCard %}
{% import "includes/components/Slider/slider-customers.njk" as SliderCustomers %}

{% macro item(data) %}
  <div class="tab-sector">
    <div class="tab-sector__header">
      <div class="swiper sectorsTabSlider">
        <div class="swiper-wrapper">
          {% for item in data.tabButtons %}
            {{Button.item(
                text=item.text,
                attr=item.attr,
                buttonV2=true,
                class= item.class
              )}}
          {% endfor %}
        </div>
      </div>
    </div>
    {% for item in data.tabContents %}
      <div class="tab-sector__content{%- if item.class %} {{ item.class }}{%- endif %}" id='{{ item.id }}'>
        {{CommonCard.item(
          img=item.img,
          title=item.title,
          desc=item.desc
        )}}
        <div class="box">
          <h2 class="section__title text-center">{{ item.specialsTitle }}</h2>
          {% for item in item.speacials %}
            {{CommonCard.item(
              img=item.img,
              title=item.title,
              desc=item.desc,
              class=item.class
          )}}
          {% endfor %}
        </div>
        <article>
          {% if item.refTitle and item.refDesc %}
            <h3 class='section__title'>{{ item.refTitle }}</h3>
            <p class='section__desc'>{{ item.refDesc }}</p>
          {% endif %}

          <div>
            {{SliderCustomers.item(
              data= item.refItems
            )}}
            <div class="customers-slider-btn swiper-button-next"></div>
            <div class="customers-slider-btn swiper-button-prev"></div>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
{% endmacro %}