{% import "includes/components/Button/button.njk" as Button %}
{% import "includes/components/Card/common-card.njk" as CommonCard %}
{% import "includes/components/Slider/slider-customers.njk" as SliderCustomers %}

{% macro item(data) %}
  <div class="tab-sector">
    <div class='tab-sector__header'>
      <div class="swiper slider-sector-tab">
        <div class="swiper-wrapper">
          {% for item in data.tabButtons %}
            {{Button.item(
        text=item.text,
        attr=item.attr,
        buttonV2=true,
        class= item.class
      )}}
          {% endfor %}
        </div>
      </div>
    </div>
    {% for item in data.tabContents %}
      <div class='tab-sector__content{%- if item.class %} {{ item.class }}{%- endif %}' id='{{ item.id }}'>
        {{CommonCard.item(
          img=item.img,
          title=item.title,
          desc=item.desc
        )}}

        <article>
          <h3 class='section__title'>{{ item.refTitle }}</h3>
          <p class='section__desc'>{{ item.refDesc }}</p>

          <div>
            {{SliderCustomers.item(
              data= item.refItems
            )}}

          </div>
        </article>
      </div>
    {% endfor %}
  </div>
{% endmacro %}