{% import "includes/components/Button/button.njk" as Button %}

{% macro item(tabBtns, conferenceItems) %}
  <div class="tab">
    <div class="tab__header">
      {% for item in tabBtns %}
        {{Button.item(
          text= item.text,
          attr= item.atttr,
          class='tab__header__btn'
        )}}
      {% endfor %}
    </div>
    <div class="tab__body">
      <div class="tab__body__content">
        {# <figure>
          <img src="{{ img }}">
        </figure> #}
        {{ caller() }}
      </div>
    </div>
  </div>
{% endmacro %}