{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Button/button.njk" as Button %}
{# {% import "includes/components/Card/banner-card.njk" as BannerCard with context %} #}
{% import "includes/components/Card/offer-card.njk" as OfferCard %}
{% import "includes/components/AccordionTab/accordiontab.njk" as AccordionTab %}
{% import "includes/components/Slider/slider-banner.njk" as SliderBanner %}

{# {% set HeaderClass = 'sticky' %} #}
{% set bannerItems = [
  {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnTextTwo: 'Toplantıyı Katıl',
    img: 'https://source.unsplash.com/random/450x415'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    img: 'https://source.unsplash.com/random/450x415'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnTextTwo: 'Toplantıyı Katıl',
    img: 'https://source.unsplash.com/random/450x415'
  }
] %}

{% set offerCardItems = [
  {
    title: 'Güvenli İletişim',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Türkiye’nin Verisi Türkiye’de',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Tüm cihazlardan ve
 tarayıcıdan Erişim ',
 desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Kişiye Özel Oda',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Kolay Kullanım',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Ayda 50 adet Toplantı Hakkı',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }
] %}

{% set featuresTab = [
  {
    title:'Online Konferans',
    img:'https://source.unsplash.com/random/552x428',
    class:'active',
    infotText:'Online Konferans',
    infoDesc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur ',
    infoBtnText:'Daha Fazla Bilgi',
    infoBtnUrl:'../assets/Conference/conference.html'
  },
  {
    title:'Toplantı Kaydetme',
    img:'https://source.unsplash.com/random/552x428',
    infotText:'Toplantı Kaydetme',
    infoDesc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur ',
    infoBtnText:'Daha Fazla Bilgi',
    infoBtnUrl:'../assets/Record/record-meeting.html'
  },
  {
    title:'Anlık Mesajlaşma',
    img:'https://source.unsplash.com/random/552x428',
    infotText:'Anlık Mesajlaşma',
    infoDesc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur ',
    infoBtnText:'Daha Fazla Bilgi',
    infoBtnUrl:'../assets/Instant/instant-messaging.html'
  },
  {
    title:'Anket',
    img:'https://source.unsplash.com/random/552x428',
    infotText:'Anket',
    infoDesc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur ',
    infoBtnText:'Daha Fazla Bilgi',
    infoBtnUrl:'../assets/Survey/survey.html'
  },
  {
    title:'Moderasyon Yetkileri',
    img:'https://source.unsplash.com/random/552x428',
    infotText:'Moderasyon Yetkileri',
    infoDesc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur ',
    infoBtnText:'Daha Fazla Bilgi',
    infoBtnUrl:'../assets/Moderation/moderation-auth.html'
  },
  {
    title:'Ara Oda Oluşturma',
    img:'https://source.unsplash.com/random/552x428',
    infotText:'Ara Oda Oluşturma',
    infoDesc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur ',
    infoBtnText:'Daha Fazla Bilgi',
    infoBtnUrl:'../assets/Breakout/breakout-rooms.html'
  }
] %}

{% set sectorItems = {
  tabButtons: [
    {
      text:'Kamu',
      attr:'data-tab-target=public'
    },
        {
      text:'Sağlık',
      attr:'data-tab-target=health'
    },
        {
      text:'Yerel Yönetim',
      attr:'data-tab-target=gov'
    },
        {
      text:'Kurumsal Firmalar',
      attr:'data-tab-target=edu'
    },
        {
      text:'Kamu',
      attr:'data-tab-target=firm'
    }
  ],
    refTitle:'Bip Meet’i tercih edenler',
    refDesc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
  tabContents: [
    {
      img:'https://source.unsplash.com/random/552x402',
      title:'Lorem ipsum dolor sit amet, consectetur adip',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
      id:'public',
      refItems: [
    {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    }
  ]
    },
        {
      img:'https://source.unsplash.com/random/552x402',
      title:'Ipsum dolor sit amet, consectetur adip',
      id:'health',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
      refItems: [
    {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    }
  ]
    },
        {
      img:'https://source.unsplash.com/random/552x402',
      title:'Dolor Lorem ipsum sit amet, consectetur adip',
      id:'gov',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
      refItems: [
    {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    }
  ]
    },
        {
      img:'https://source.unsplash.com/random/552x402',
      title:'Sit amet lorem ipsum dolor, consectetur adip',
      id:'edu',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
        refItems: [
    {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    }
  ]
    },
        {
      img:'https://source.unsplash.com/random/552x402',
      title:'Consectetur ipsum dolor sit amet, consectetur adip',
      id:'firm',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
        refItems: [
    {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    },
        {
      title:'Milli Eğitim Bakanlığı',
      img:'https://source.unsplash.com/random/76x76'
    }
  ]
    }
  ]
} %}

{% block content %}
  <section class="section section-banner">
    <div class="container">
      {{SliderBanner.item(
          data= bannerItems
        )}}
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="section section-offer">
    <div class="container">
      <h2 class='section__title'>BİP Meet’in Değer Teklifleri</h2>
      <div class="box">
        {% for item in offerCardItems %}
          {{OfferCard.item(
            title=item.title,
            desc=item.desc,
            img=item.img
          )}}
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section section-features">
    <h2 class='section__title text-center'>Özellikler</h2>
    <div class="container">
      {{AccordionTab.item(
        data=featuresTab
      )}}
    </div>
  </section>
{% endblock %}