{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Button/button.njk" as Button %}
{% import "includes/components/Card/banner-card.njk" as BannerCard with context %}

{# {% set HeaderClass = 'sticky' %} #}
{% set bannerItems = [
  {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnTextTwo: 'Toplantıyı Katıl',
    img: 'https://source.unsplash.com/random/450x415'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    img: 'https://source.unsplash.com/random/450x415'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Toplantıyı Başlat',
    btnTextTwo: 'Toplantıyı Katıl',
    img: 'https://source.unsplash.com/random/450x415'
  }
] %}

{% set offerCardItems = [
  {
    title: 'Güvenli İletişim',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Türkiye’nin Verisi Türkiye’de',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Tüm cihazlardan ve
 tarayıcıdan Erişim ',
 desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Kişiye Özel Oda',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Kolay Kullanım',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }, {
    title: 'Ayda 50 adet Toplantı Hakkı',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    img: 'https://source.unsplash.com/random/148x148'
  }
] %}

{% block content %}
  <section class="section-banner">
    <div class="container">
      <div class="swiper swiper-banner">
        <div class="swiper-wrapper">
          {% for item in bannerItems %}
            {% call BannerCard.item(title = item.heading, desc = item.desc, img = item.img, class='swiper-slide') %}
            {{Button.item(
              text=item.btnTextOne,
              class='button--sm',
              href='/'
            )}}

            {% if item.btnTextTwo %}
              {{Button.item(
              text=item.btnTextTwo,
              class='button--sm button--slider',
              href='/'
            )}}
            {% endif %}
            {% endcall %}
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
{% endblock %}