$text-black: #1e1e1e;
$text-white: #fff;

$primary-dark-blue-level-0: #202e3e;
$primary-dark-blue-light-1: #354353;
$primary-dark-blue-light-9: #e7eaed;
$bg: #f4f4f4;

$primary-blue: #03a9f4;
$color-black: #000;
$gray: #d0d5db;
