{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Accordion/accordion.njk" as Accordion %}

{% set HeaderClass = 'header__dark' %}

{% set sssItems1 = [
      {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    }
  ]
%}

{% set sssItems2 = [
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    }
    ]
%}

{% set sssItems3 = [
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    },
    {
      title:'Lorem ipsum dolor sit amet,',
      icon:'../assets/images/icons8-expand-arrow-60.png',
      desc:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit'
    }
  ]
%}

{% block content %}
  <section class="section page-sss section-sss">
    <h1 class="section__title text-center">Sıkça Sorulan Sorular</h1>
    <p class="section__desc text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
    <div class="container">
      <article>
        <h2 class="section__title">Hesap</h2>
        {{Accordion.item(accordionData= sssItems1 )}}
      </article>

      <article>
        <h2 class="section__title">Toplantı</h2>
        {{Accordion.item(accordionData= sssItems2 )}}
      </article>

      <article>
        <h2 class="section__title">Lorem</h2>
        {{Accordion.item(accordionData= sssItems3 )}}
      </article>
    </div>
  </section>
{% endblock %}