{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Slider/slider-banner.njk" as SliderBanner %}

{% set bannerItems = [
  {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Yazıyı Oku',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Morem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Yazıyı Oku',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Dorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Yazıyı Oku',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }
] %}

{% block content %}
  <section class="section page__blog section-banner">
    <div class="container">
      {{SliderBanner.item(
          data= bannerItems
        )}}
    </div>
  </section>
{% endblock %}