{% extends "includes/layout/layout.njk" %}
{% import "includes/components/Button/button.njk" as Button %}
{% import "includes/components/Slider/slider-banner.njk" as SliderBanner %}
{% import "includes/components/Slider/slider-blog.njk" as SliderBlog %}
{% import "includes/components/Card/check-packages-card.njk" as PackCard %}

{% set bannerItems = [
  {
    heading: 'Her sektör için video etkileşimi',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Planları Görüntüle',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Morem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Yazıyı Oku',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }, {
    heading: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
    desc: 'Dorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    btnTextOne: 'Yazıyı Oku',
    btnLink: '/',
    img: 'https://source.unsplash.com/random/672x448'
  }
] %}

{% set blogItems1 = [
  {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }
] %}

{% set blogItems2 = [
  {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }
] %}

{% set blogItems3 = [
  {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }
] %}

{% set blogItem4 = [
  {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }, {
    img: 'https://source.unsplash.com/random/332x288',
    title: 'Lorem ipsum dolor sit amet, consectetur adip',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
    class:'swiper-slide',
    link:'/'
  }
] %}

{% set offerItems2 = {
  title: 'Daha fazla özellikler ile iyi bir toplantı deneyiminin zamanı geldi.',
  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, agna. Lorem ipsum dolor sit amet.',
  img: 'https://source.unsplash.com/random/1128x352',
  btns: [
    {
      text: 'Paketleri İncele',
      link: '/',
      class: 'button--sm button--v2'
    }, {
      text: 'Giriş Yap',
      link: '/',
      class: 'button--sm'
    }
  ]
} %}

{% block content %}
  <section class="section section-banner--split section-banner">
    <div class="container">
      {{SliderBanner.item(
          data= bannerItems
        )}}
    </div>
  </section>

  <section class="section page__blog section-blog">
    <div class="container">
      <div class="box">
        {{SliderBlog.item(blogData=blogItems1)}}
      </div>
    </div>
  </section>

  <section class="section page__blog section-blog">
    <div class="container">
      <div class="box">
        {{SliderBlog.item(blogData=blogItems2)}}
      </div>
    </div>
  </section>

  <section class="section page__blog section-check-packages">
    <div class="container">
      {{PackCard.item(
        packData= offerItems2,
        cardv2= 'true'
      )}}
    </div>
  </section>

  <section class="section page__blog section-blog">
    <div class="container">
      <div class="box">
        {{SliderBlog.item(blogData=blogItems3)}}
      </div>
    </div>
  </section>

  <section class="section page__blog section-blog">
    <div class="container">
      <div class="box">
        {{SliderBlog.item(blogData=blogItem4)}}
      </div>
      <div class="section-blog__action">
        {{Button.item(
          text= 'Daha Fazla Görüntüle',
          href= '../Blog/blog.html',
          class='button--sm'
        )}}
      </div>
    </div>
  </section>
{% endblock %}