// BLACK
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

// BOLD
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

// MEDIUM
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

// REGULAR
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
